.bg-1{
    background-color: #F0FFF0;
}
.bg-2{
    background-color: #F8FFFB;
}
body{
    font-family: 'Poppins', sans-serif;}
#logo{
    width: 140px;
    height: 40px;
}

.pad-l{
    padding-right: 40px!important;
}
.navbar{
    padding-top: 25px!important;
    font-size: 13px !important;
}
.navbar-nav a{
    color: black;
    font-weight: bold;
}
.green-btn{
    border: none;
    color: white;
    padding: 7px 25px;
    background: #21B573;
    border-radius: 33px;
    word-break: normal;
    display: inline;
}
.navbar-nav a{
    size: 10px!important;
}
.row{
    padding-top: 90px;
}
.intro{
    height: 500px;
}
.bold{
    font-weight: bold;
}
.fitImage{
    width: 120px;
    height: 120px;
    margin-right: 35px;
}
.secion2{
    height: 400px;
}
.miniIcon{
    width: 20px;
    height: 20px;
}
.miniTxt{
    font-size: 12px;
}
#red{
    color: red;
}
.border-none{
    border: none!important;
    box-shadow: none!important;
}
#green{
    color: #21B573;
}
.icon{
    width: 60px;
    height: 70px;
    margin-bottom: 10px;
}
.cat1{
    height: 250px;
    width: 250px;
    margin-right: 5px;
    border-radius: 7px;
}
.card-view{
    box-shadow: 5px 10px 10px grey ;
    border-radius: 7px;
}
#course{
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.card h6{
    padding-top: 4px;
    padding-left: 4px;
}
.card{
    border-radius: 10px;
    box-shadow: 5px 10px 10px grey ;

}
.card-footer{

    background-color: white;
    border-top: none;
}
.secion3{
    margin-bottom: 100px;
}
.testimonial{
    text-align: center;
    margin-bottom: 80px;
}
.bg-blck{
    background-color: black;
    height: 400px;
}
.whiteTxt{
    color: white;
}
.botom p{
    font-size: 12px;
}
.footer{
    color: grey;
    background: black;
    text-align: center;


}
.botom{
    background-color: black;
    height: 500px;
}
.section2{
    height: 400px;
}
.book-card{
    margin-top: 200px;

}



@media only screen and (max-width: 600px) {
    .bulksection{
        height: 400px;
    }
}


